<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>@ViewData["Title"] - BUTR.ModListServer</title>
        <base href="/" />
        <link rel="icon" type="image/svg+xml" href="favicon.svg">

        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/BUTR.ModListServer.styles.css" asp-append-version="true"/>
    </head>
    <body>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

       @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>